h1{
  font-family: Verdana;
  color:#0000ff;
  }
  
h2{
  font-family:Verdana;
  color:#3366cc;
 }
 
 p{
   font-family:Arial;
 }
body{
background-image: url("https://i.ytimg.com/vi/BMCtHDzOAuQ/maxresdefault.jpg");
 }
